<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.we_together">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/home_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".event_dialog"></activity>
        <activity android:name=".room_dialog" />
        <activity android:name=".add_dialog" />
        <activity android:name=".inviteDialog" />
        <activity android:name=".Menu_community" />
        <activity android:name=".Menu_calendar" />
        <activity android:name=".Menu_share" />
        <activity android:name=".UploadMain"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Menu_home" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".placeActivity"
            android:theme="@style/AppTheme.NoActionBar">



            </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinRoom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakeRoom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".join2"
            android:label="@string/title_activity_join2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity2" />
    </application>

</manifest>